.hero{
  height: 25vH;
  background-size: cover;
}

.img-thumbnail{
  width: 70px !important;
  height: 70px !important;
}

.ownFieldset {
  margin: 100px auto auto;
  width: 60% ;
}

a.card:link, a.card:visited {
  color: black;
  text-decoration: none;
}

a.card:hover {
  background: aliceblue !important;
  color: darkblue;
  text-decoration: none;
}

a {
  color: rgb(235, 224, 224);
  text-decoration: none;
}

footer p {
  margin-bottom: 0.1em;
}
